
.container{
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

        @media screen and (min-width: 600px) {
          .container{
              width: 560px;
          }
        }
    
        @media screen and (min-width: 992px) {
          .container {
              width: 760px;
            }
        }

        .repository-link{
        text-align: center;
        margin-top: 100px;
        }